.header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
}

.header-navbar {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  height: 90px;
  padding: 20px;
  margin: 0 auto;  
}

.header-container {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  max-width: 1500px;
}

/* 버튼 공통 */
.header-button {
  box-sizing: border-box;
  width: auto;
  height: 36px;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: auto;
}

.header-button1 {
  box-sizing: border-box;
  width: 80px;
  min-width: 80px;
  height: 36px;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: auto 10px;
  font-size: 14px;
}

.header-button2 {
  box-sizing: border-box;
  width: 100px;
  min-width: 100px;
  height: 36px;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
}

.header-button:hover,
.header-button1:hover {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #000;
}

/* ====== Nav 링크 (상단 메뉴) 스타일 ====== */
.navbar .nav-link {
  white-space: nowrap;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  color: #222 !important;
  transition: all 0.3s ease;
  position: relative;
}

.navbar .nav-link:hover {
  color: #00b894 !important;
  text-decoration: none;
}

.navbar .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00b894;
  transition: width 0.3s;
  margin: 2px auto 0;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.header-search-input {
  width: 150px;
  min-width: 100px;
  height: 36px;
  padding: 0 10px;
  margin: auto 10px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
}

.offcanvas-body {
  padding: 0;
  margin: 0;
  display: none; /* 기본 숨김 처리 */
}

/* 햄버거가 활성화된 상태에서만 보이게 설정 */
.offcanvas.show .offcanvas-body {
  display: block;
}

.offcanvas-body .nav-link {
  position: relative;
  display: inline-block;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  color: #222 !important;
  transition: all 0.3s ease;
  text-align: center;
  width: 100%;
}

.offcanvas-body .nav-link:hover {
  color: #00b894 !important;
  transform: scale(1.05);
}

.offcanvas-body .nav-link:hover::after {
  width: 100%;
}
.offcanvas-body .d-flex{
  max-width: 213px;
}
.header-search-container {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  margin: 0px 5px;
}
.header-logged-in {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center;     /* 세로 가운데 정렬 */
  margin: 10px 5px;
}
