/* 에러 메시지 */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.signup-box {
  width: 540px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.signup-title h2 {
  text-align: center;
  margin-bottom: 30px;
}

.signup-des {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

/* 순서바 */
.progress-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.progress-step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-weight: bold;
  color: #999;
}

.progress-stepLine {
  color: #999;
}

.progress-step.active {
  background-color: #f30807; /* 활성화된 스텝 색상 */
  color: white;
}

/* 비밀번호 보이기/숨기기 버튼 */
.password-toggle {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 32px; 
  background: none;
  border: none;
  cursor: pointer;
  color: #afafaf;
}

.input-group {
  margin-bottom: 20px;
  position: relative; /* 추가됨 */
}

.input-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px; /* 추가됨 */
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.prev-button,
.next-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.prev-button {
  background-color: white;
  color: #000000;
  border: 1px solid #e2e2e2;

}

.prev-button:hover {
  background-color: #e0e0e0;
  color: #000000;
}

.next-button {
  background-color: #20c997;
  color: white;
}

.next-button:hover {
  background-color: #1e8e72;
}