flask==3.1.0
flask-cors==3.0.10
pymysql==1.0.2
python-dotenv==0.21.0
requests==2.32.3
beautifulsoup4
selenium
webdriver-manager
openpyxl
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
google-cloud-speech
google-cloud-texttospeech
sqlalchemy